<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UI/UItrend/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,1},{158,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,69}</string>
			</dict>
			<key>UI/UItrend/B.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,117},{18,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,22}</string>
			</dict>
			<key>UI/UItrend/B_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,120},{9,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>UI/UItrend/baifentiao_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,72},{45,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,38}</string>
			</dict>
			<key>UI/UItrend/baifentiao_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,112},{45,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,38}</string>
			</dict>
			<key>UI/UItrend/big_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,72},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>UI/UItrend/big_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,72},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>UI/UItrend/Btn_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,1},{67,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,128}</string>
			</dict>
			<key>UI/UItrend/hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,70},{104,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,70}</string>
			</dict>
			<key>UI/UItrend/icon_B.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,70},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>UI/UItrend/icon_B_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,72},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>UI/UItrend/icon_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,76},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>UI/UItrend/icon_D_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,76},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>UI/UItrend/icon_Fill_B.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,113},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>UI/UItrend/icon_Fill_B_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,84},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>UI/UItrend/icon_Fill_R.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,117},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>UI/UItrend/icon_Fill_R_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,96},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>UI/UItrend/icon_H.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,107},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>UI/UItrend/icon_H_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,76},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>UI/UItrend/icon_R.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,117},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>UI/UItrend/icon_R_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,108},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>UI/UItrend/icon_T.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,76},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>UI/UItrend/icon_T_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,113},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>UI/UItrend/long.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,1},{108,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,74}</string>
			</dict>
			<key>UI/UItrend/R.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,117},{18,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,22}</string>
			</dict>
			<key>UI/UItrend/R_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,131},{9,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>UI/UItrend/small.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,76},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>UI/UItrend/title_zoushi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,76},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
			<key>UI/UItrend/bg_right_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{246,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,73}</string>
			</dict>
			<key>UI/UItrend/small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,102},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UITrend.png</string>
			<key>realTextureFileName</key>
			<string>UITrend.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>